.overlay-container {
    position: relative;
}

.overlay-container:hover  .overlay-content {
    opacity: 0.4;
}

.overlay-container:active .overlay-content {
    opacity: 0.4;
}

.overlay-content {
    color: wheat;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000;
    text-align: center;

    opacity: 0;

    /*transform-origin: 0 0;*/
    /*transform: scaleY(0);*/
    transition: 0.5s ease;
}

.gray-overlay-content {
    background-color: #565656;
}

.ribbon {
    position: absolute;
    bottom: 10%;
    left: 0;
    background: #c42222;
    padding-right: 10px;
    border-radius: 0 10% 10% 0;
}

.ribbon .hidden {
    position: absolute;
    visibility: hidden;
}
.ribbon .shown {
    position: relative;
    visibility: visible;
}

.overlay-container:hover .ribbon .hidden {
    position: relative;
    visibility: visible;
}

.overlay-container:hover .ribbon .shown {
    position: absolute;
    visibility: hidden;
}