.intro-section-container {
  //background: url("../../public/images/back-ray.svg");
  overflow: hidden;
}

.atom-container {
  position: relative;
  padding: 4em;
  > div {
    border-radius: 50%;
    border: 0.3em solid #45963b;
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateY(20deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4em;
    margin-top: -4em;

    &:first-of-type {
      &:after {
        content: "";
        position: absolute;
        height: 2em;
        width: 2em;
        background: #45963b;
        border-radius: 50%;
        transform: rotateX(-80deg) rotateY(0);
        box-shadow: 0 0 1em #45963b;
        animation: nucleus_ 2s infinite linear;
        left: 50%;
        top: 50%;
        margin-top: -1em;
        margin-left: -1em;
      }
    }

    &:nth-of-type(2) {
      transform: rotateX(-80deg) rotateY(20deg);

      > div,
      > div:after {
        animation-delay: -.5s;
      }
    }

    &:nth-of-type(3) {
      transform: rotateX(-70deg) rotateY(60deg);

      > div,
      > div:after {
        animation-delay: -1s;
      }
    }

    &:nth-of-type(4) {
      transform: rotateX(70deg) rotateY(60deg);

      > div,
      > div:after {
        animation-delay: -1.5s;
      }
    }

    > div {
      width: 8em;
      height: 8em;
      position: relative;
      transform-style: preserve-3d;
      animation: trail_ 2s infinite linear;

      &:after {
        content: "";
        position: absolute;
        top: -5px;
        box-shadow: 0 0 15px #70b6ef;
        left: 50%;
        margin-left: -5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #70b6ef;
        animation: particle_ 2s infinite linear;
      }
    }
  }
}

.atom-container {
  opacity: 0.6;
  transition: 0.5s ease;
}
.atom-container:hover {
  opacity: 1;
}

@keyframes trail_ {
  from {
    transform: rotateZ(0deg);
  } to {
      transform: rotateZ(360deg);
    }
}

@keyframes particle_ {
  from {
    transform: rotateX(90deg) rotateY(0deg);
  } to {
      transform: rotateX(90deg) rotateY(-360deg);
    }
}

@keyframes nucleus_ {
  0%, 100% {
    box-shadow: 0 0 0 transparent;
  } 50% {
      box-shadow: 0 0 1.6em #fff;
    }
}
